<a class="nav-button prev" href="#" {{action "previous"}}>Previous</a>
<h2 class="current-date">{{moment-format currentDate "MM-DD-YYYY"}}</h2>
<a class="nav-button next" href="#" {{action "next"}}>Next</a>
